/* Reset das configurações do navegador */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #5445                                                                                                                                      ;
}

h2{
    text-align: center;
    font-size: 60px;
    font-family: "Comic Sans MS";
}

p{
    text-align: justify;
    font-size: 18px;
    font-family: "Gigi";
    margin: 100px 60px;
}