@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap');

body {
    background-color: #15141b; /* Fundo Deep Aura */
    color: #edecee;
    font-family: 'Fira Code', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(25, 24, 33, 0.9);
    padding: 2rem;
    border-radius: 15px;
    border: 1px solid #3d2b56;
    box-shadow: 0 0 30px rgba(162, 115, 255, 0.2);
    width: 350px;
    text-align: center;
}

h1 {
    color: #a273ff;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #948ae3;
}

input {
    width: 100%;
    background: #15141b;
    border: 2px solid #3d2b56;
    padding: 10px;
    color: #61ffca; /* Verde neon para os números */
    border-radius: 8px;
    margin-bottom: 1rem;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #ff79c6;
}

button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(45deg, #a273ff, #ff79c6);
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
    transform: scale(1.02);
    box-shadow: 0 0 15px rgba(255, 121, 198, 0.5);
}

#resultado {
    margin-top: 20px;
    text-align: left;
    max-height: 200px;
    overflow-y: auto;
}

p {
    margin: 5px 0;
    color: #edecee;
    border-left: 3px solid #ff79c6;
    padding-left: 10px;
}